transformers==4.35.2
torch==2.1.1
spacy==3.7.2
scispacy==0.5.3
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_sm-0.5.3.tar.gz
kafka-python==2.0.2
psycopg2-binary==2.9.7
pandas==2.1.3
numpy==1.25.2
scikit-learn==1.3.2
python-json-logger==2.0.7
fhir.resources==7.0.2
dateutil
regex